/* @import url(resposivo.css);
@import url(animacoes.css); */
*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(../assets/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 87%;
}
p{
    text-indent: 50px;
}
/* -------------------------------------------------
            PÁGINA INICIAL
------------------------------------------------- */
.carta{
    width: 60vw;
    min-width: 350px;
    margin: 25px auto;
    height: 90vh;
    background-image: url(../assets/carta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x:45%;
    text-align: center;
    align-items: center;
    /* padding-top: 470px; */

    
}
.dedicacao{
    display: flex;
    flex-direction: column;
    padding-top: 28vh;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 500px) {
    .dedicacao{
        transform: translateX(-20PX);
    }
    .dedicacao p{
        margin: 2px;
        text-indent: 0;
    }
    
}
 @keyframes coracao {
    0% {width: 80px;}
    25% {width: 60px;}
    50% {width: 55px;}
    100% {width: 60px;}    
}
a > img{
    width: 60px;
    margin-top: 15px;
}
span{
    font-size: 16px;
    color: rgb(179, 4, 4);
}
.coracao{
    animation: coracao infinite ease-in-out;
    
    
}

/* -------------------------------------------------
            MENU
------------------------------------------------- */
header{
    display: flex;
    background-color: lightcoral;
    color: white;
    padding: 1rem 3rem;
    justify-content: space-between;
    max-width: 100vw;
}
header a{
    text-decoration: none;
    color: white;
}
nav li{
    list-style: none;
}
nav > a:hover{
    border: 1px solid #fff;
    border-radius: 10px;
    width: 5rem;
    padding: 0.5 5;
}
@media screen and (max-width:480px) {
    header{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    header h2{
        margin-left: 0;
    }
    
}
/* -------------------------------------------------
         BANNER
------------------------------------------------- */

.banner{
    max-width: 100vw;
    height: 90vh;
    background-image: url('../assets/img/22-maggio-nel-fiume/IMG-20220525-WA0013.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; 
    justify-content: center;
}
.msg{
    min-width: 250px;
    width: 40vw;
    gap:3rem;
    /* font-size: 2.2vw; */
    margin: 50px  0 0 10vw;
    text-align: center;
    border: 1px solid #fff;
    text-shadow: rgba(0, 0, 0, 0.753) 0px 3px 24px;;
    color: #fff;
    font-weight: 900;
    background-color: #aaaaaa71; 
    padding: 1rem; 
    position: absolute;
}
.msg h2{
    font-size: 60px;
}
@media screen and (max-width:550px){
    .msg{
        width: 80vw;
        margin: 0;
        min-width: 80vw;
    }
    .msg h2{
        margin-left: 0;
    }
    
}
.thanks{
    font-size: 30px;
    font-weight: 700;
    margin: 2rem 3rem 1em;
}
@media screen and (max-width:900px){
    .msg{
        width: 70vw;
        margin: 1rem;
    }
}
@media screen and (max-width:400px){
    .thanks, p{
        font-size: 23px;
        width: 85vw;
        margin: 30px auto;
    }
}
/* -------------------------------------------------
            FOTOS / MENSSAGENS
------------------------------------------------- */
.conteiner{
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    gap: 7vw;
    margin-top: 100px;
    justify-content: center;
}

.rev{
    flex-direction: row-reverse;
}
.foto{
    border: 1px solid black;
    min-width: 300px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    transition: 1.5 ease-in-out;
}
/* .foto:hover{
    min-width: 330px;
    min-height: 440px;
    z-index: 2;
    position: absolute;
} */
.um{
    background-image: url(../assets/img/20-maggio-A-Parma/IMG-20220525-WA0026.jpg);
}
.dois{
    background-image: url(../assets/img/22-maggio-nel-fiume/IMG-20220525-WA0018.jpg);
}
.tres{
    background-image: url(../assets/img/25-aprile-a-Bologna/IMG-20220425-WA0013.jpg);
}
.texto{
    max-width: 500px;
}
@media screen and (max-width:900px){
    .conteiner{
        flex-direction: column;
        margin-top: 50px;
        padding: 1rem 1.5rem;
    }
    .rev{
        flex-direction: column;
    }
    h2{
        margin-left: 2rem;
    }
}
@media screen and (max-width: 400px) {
    .conteiner > .texto{
        width: 85vw;
    }
    
}
/* -------------------------------------------------
           MOMENTOS
------------------------------------------------- */
#momentos{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem;
    background-color: #fff;
    width: 200px;
    border-radius: 50px;
    border: 0.5px solid #999;
    margin: 20px auto 0;
    transform: translateY(25px);
}
hr{
    width: 80vw;
    margin: 0 auto;
}
.momento{
    margin: 2rem 4rem;
}
@media screen and (max-width:430px) {
    
    .momento{
        margin: 2rem 10px;
    }
    
}
.cards{
    /* border: 0.5px solid black ; */
    /* border-radius: 10px; */
    margin: 0 auto;
    width: 80vw;
    padding: 1rem 0.5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap:5px;
}
.card{
    border: 0.5px solid black ;
    /* background-color: #c92dc9; */
    width: 300px;
    height: 200px;
    position: relative;
    padding: 2rem 0.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .card:not(:first-child){
    margin-left: -3px;
} */
.card:hover{
    width: 350px;
    height: 215px;
    
}
.card:hover ~ .card{
    left: -9px;
}
@media screen and (max-width: 500px) {
    .card:hover ~ .card{
        left: 0;
    }   
    .card{
        margin-left: 0;
    } 
}
/* --------  LISTA DE BKGROUND IMG  ------------ */
#top1Card1{
    background-image: url(../assets/img/nos-conhecemos/IMG-20220716-WA0015.jpg);
    background-position-x: 67%;
}
#top1Card2{
    background-image: url(../assets/img/nos-conhecemos/IMG-20220716-WA0018.jpg);
    background-position-x: 80%;
}
#top1Card3{
    background-image: url(../assets/img/braceletti/20220524_115707.jpg);
    /* background-position-x: 80%; */
}
#top1Card4{
    background-image: url(../assets/img/braceletti/IMG-20220410-WA0008.jpg);
    /* background-position-x: 80%; */
}
/* -------------------------------------------------
           RODAPÉ
------------------------------------------------- */
footer{
    background-color: #ccc;
    color: black;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    font-size: 60px;
}