/* @import url(resposivo.css);
@import url(animacoes.css); */
*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}
html{
    scroll-behavior: smooth;
    max-width: 100vw;
}
body{
    background-image: url(../assets/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 87%;
}
p{
    text-indent: 50px;
}
/* -------------------------------------------------
            PÁGINA INICIAL
------------------------------------------------- */
.carta{
    width: 60vw;
    min-width: 350px;
    margin: 25px auto;
    height: 90vh;
    background-image: url(../assets/carta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x:75%;
    text-align: center;
    align-items: center;
    /* padding-top: 470px; */

    
}
.dedicacao{
    display: flex;
    flex-direction: column;
    padding-top: 28vh;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 500px) {
    .dedicacao{
        transform: translateX(-20px);
    }
    .dedicacao p{
        margin: 2px;
        text-indent: 0;
    }
    
}
 @keyframes coracao {
    0% {width: 80px;}
    25% {width: 60px;}
    50% {width: 55px;}
    100% {width: 60px;}    
}
a > img{
    width: 60px;
    margin-top: 15px;
}
span{
    font-size: 16px;
    color: rgb(179, 4, 4);
}
.coracao{
    animation: coracao infinite ease-in-out;
    
    
}

/* -------------------------------------------------
            MENU
------------------------------------------------- */
header{
    display: flex;
    background-color: lightcoral;
    color: white;
    padding: 1rem 3rem;
    font-size: 35px;
    justify-content: space-between;
    max-width: 100vw;
}
header a{
    text-decoration: none;
    color: white;
}
nav li{
    list-style: none;
}
nav > a:hover{
    border: 1px solid #fff;
    border-radius: 10px;
    width: 5rem;
    padding: 0.5 5;
}
@media screen and (max-width:530px) {
    header{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    header h2{
        margin-left: 0;
    }
    
}
/* -------------------------------------------------
         BANNER
------------------------------------------------- */

.banner{
    max-width: 100vw;
    /* width: 100%; */
    height: 90vh;
    background-image: url('../assets/img/22-maggio-nel-fiume/IMG-20220525-WA0013.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; 
    justify-content: center;
    /* z-index: 6; */
}
.msg{
    /* min-width: 250px; */
    width: 40vw;
    gap:3rem;
    margin: 50px  0 0 10vw;
    text-align: center;
    border: 1px solid #fff;
    text-shadow: rgba(0, 0, 0, 0.753) 0px 3px 24px;;
    color: #fff;
    font-weight: 900;
    background-color: #aaaaaa71; 
    padding: 1rem; 
    position: absolute;
}
.msg h2{
    font-size: 60px;
}
@media screen and (max-width:550px){
    .msg{
        width: 80vw;
        /* margin: 10px; */
    }
    .msg h2{
        margin-left: 0;
        /* font-size: 40px; */
    }
    
}
.thanks{
    font-size: 30px;
    font-weight: 700;
    margin: 2rem 3rem 1em;
}
@media screen and (max-width:900px){
    .msg{
        width: 70vw;
        margin: 1rem;
    }
}
@media screen and (max-width:400px){
    .thanks, p{
        font-size: 23px;
        width: 85vw;
        margin: 30px auto;
    }
}
/* -------------------------------------------------
            FOTOS / MENSSAGENS
------------------------------------------------- */
.conteiner{
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    gap: 7vw;
    margin-top: 100px;
    justify-content: center;
}

.rev{
    flex-direction: row-reverse;
}
.foto{
    border: 1px solid black;
    min-width: 300px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    transition: 1.5 ease-in-out;
    z-index: 2;
}
/* .foto:hover{
    min-width: 330px;
    min-height: 440px;
    z-index: 2;
    position: absolute;
} */
.um{
    background-image: url(../assets/img/20-maggio-A-Parma/IMG-20220525-WA0026.jpg);
}
.dois{
    background-image: url(../assets/img/22-maggio-nel-fiume/IMG-20220525-WA0018.jpg);
}
.tres{
    background-image: url(../assets/img/25-aprile-a-Bologna/IMG-20220425-WA0013.jpg);
}
.quatro{
    background-image: url(../assets/img/Bianca-in-brazil/20230225_155855.jpg);
}
.texto{
    max-width: 500px;
    font-size: 30px;
}
@media screen and (max-width:900px){
    .conteiner{
        flex-direction: column;
        margin-top: 50px;
        padding: 1rem 1.5rem;
    }
    .rev{
        flex-direction: column;
    }
    h2{
        margin-left: 2rem;
    }
}
@media screen and (max-width: 400px) {
    .conteiner > .texto{
        width: 85vw;
    }
    
}
/* -------------------------------------------------
           MOMENTOS
------------------------------------------------- */

#momentos{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem;
    background-color: #fff;
    width: 200px;
    border-radius: 50px;
    border: 0.5px solid #999;
    margin: 20px auto 0;
    transform: translateY(32px);
}
hr{
    width: 80vw;
    margin: 0 auto;
}
.momento{
    margin: 2rem 4rem;
    padding: 1rem;
    gap: 25px;
}
.momento p{
    font-size: 25px;
}
@media screen and (max-width:430px) {
    
    .momento{
        margin: 2rem 10px;
    }
    
}
.cards{
    /* border: 0.5px solid black ; */
    /* border-radius: 10px; */
    margin: 0 auto;
    width: 80vw;
    padding: 1rem 0.5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap:5px;
}
.card{
    border: 0.5px solid black ;
    /* background-color: #c92dc9; */
    width: 300px;
    height: 200px;
    position: relative;
    padding: 2rem 0.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .card:not(:first-child){
    margin-left: -3px;
} */
.card:hover{
    width: 350px;
    height: 215px;
    
}
.card:hover ~ .card{
    left: -9px;
}
@media screen and (max-width: 500px) {
    .card:hover ~ .card{
        left: 0;
    }   
    .card{
        margin-left: 0;
    } 
}
/* --------  LISTA DE BKGROUND IMG  ------------ */
#top1Card1{
    background-image: url(../assets/img/nos-conhecemos/IMG-20220716-WA0015.jpg);
    background-position-x: 67%;
}
#top1Card2{
    background-image: url(../assets/img/nos-conhecemos/IMG-20220716-WA0018.jpg);
    background-position-x: 65%;
}
#top1Card3{
    background-image: url(../assets/img/22-gennaio-Con-i-Cavalli/WhatsApp\ Image\ 2022-07-16\ at\ 11.20.41.jpeg);
    /* background-position-x: 80%; */
}
#top1Card4{
    background-image: url(../assets/img/22-gennaio-Con-i-Cavalli/WhatsApp\ Image\ 2022-07-16\ at\ 11.17.08.jpeg);
    background-position-x: 80%;
}
#top1Card5{
    background-image: url(../assets/img/22-gennaio-Con-i-Cavalli/20220122_162848.jpg);
    /* background-position-x: 80%; */
}
#top1Card6{
    background-image: url(../assets/img/23-gennaio-Poggio-ala-croce/20220123_093803.jpg);
    /* background-position-x: 80%; */
}
#top1Card7{
    background-image: url(../assets/img/23-gennaio-Poggio-ala-croce/20220123_112856.jpg);
    background-position-x: 50%;
}
#top1Card8{
    background-image: url(../assets/img/23-gennaio-Poggio-ala-croce/20220123_114235.jpg);
    background-position-y: 95%;
}
#top2Card1{
    background-image: url(../assets/img/7-maggio-nel-castello/IMG-20220525-WA0021.jpg);
    /* background-position-x: 80%; */
}
#top2Card2{
    background-image: url(../assets/img/22-maggio-nel-fiume/IMG-20220525-WA0019.jpg);
    /* background-position-x: 80%; */
}
#top2Card3{
    background-image: url(../assets/img/20-maggio-A-Parma/per-il-sito/IMG-20220525-WA0006.jpg);
    background-position-y: 5%;
}
#top2Card4{
    background-image: url(../assets/img/20-maggio-A-Parma/IMG-20220525-WA0017.jpg);
    background-position-y: 20%;
}
#top3Card1{
    background-image: url(../assets/img/20-maggio-A-Parma/IMG-20220525-WA0005.jpg);
    /* background-position-y: 20%; */
}
#top3Card2{
    background-image: url(../assets/img/20-maggio-A-Parma/IMG-20220525-WA0008.jpg);
    background-position-y: 20%;
}
#top3Card3{
    background-image: url(../assets/img/20-maggio-A-Parma/IMG-20220525-WA0009.jpg);
    /* background-position-y: 20%; */
}
#top3Card4{
    background-image: url(../assets/img/6-maggio-cena-con-kiky/20220506_234910.jpg);
    /* background-position-y: 20%; */
}
#top3Card5{
    background-image: url(../assets/img/22-maggio-nel-fiume/IMG-20220525-WA0014.jpg);
    /* background-position-y: 20%; */
}
#top3Card6{
    background-image: url(../assets/img/22-maggio-nel-fiume/IMG-20220525-WA0020.jpg);
    /* background-position-y: 20%; */
}
#top3Card7{
    background-image: url(../assets/img/25-aprile-a-Bologna/IMG-20220425-WA0006.jpg);
    /* background-position-y: 20%; */
}
#top3Card8{
    background-image: url(../assets/img/25-aprile-a-Bologna/IMG-20220425-WA0012.jpg);
    background-position-y: 27%;
}
#top3Card9{
    background-image: url(../assets/img/25-aprile-a-Bologna/IMG-20220425-WA0011.jpg);
    background-position-y: 90%;
}
#top3Card10{
    background-image: url(../assets/img/7-maggio-nel-castello/IMG-20220525-WA0023.jpg);
    /* background-position-y: 90%; */
}
#top3Card11{
    background-image: url(../assets/img/7-maggio-nel-castello/IMG-20220525-WA0032.jpg);
    /* background-position-y: 90%; */
}
#top3Card12{
    background-image: url(../assets/img/20-maggio-A-Parma/IMG-20220525-WA0022.jpg);
    /* background-position-y: 90%; */
}
#top4Card1{
    background-image: url(../assets/img/IMG-20220718-WA0004.jpg);
    background-position-y: 5%;
}
#top4Card2{
    background-image: url(../assets/img/IMG-20220818-WA0034.jpg);
    background-position-y: 5%;
}
#top5Card1{
    background-image: url(../assets/img/Bianca-in-brazil/20230221_141442.jpg);
    /* background-position-y: 5%; */
}
#top5Card2{
    background-image: url(../assets/img/Bianca-in-brazil/20230221_132519.jpg);
    /* background-position-y: 5%; */
}
#top5Card3{
    background-image: url(../assets/img/Bianca-in-brazil/20230225_155901.jpg);
    /* background-position-y: 5%; */
}
#top6Card1{
    background-image: url(../assets/img/Bianca/IMG-20220519-WA0003.jpg);
    /* background-position-y: 5%; */
}
#top6Card2{
    background-image: url(../assets/img/Bianca/IMG-20220602-WA0009.jpg);
    /* background-position-y: 5%; */
}
#top6Card3{
    background-image: url(../assets/img/Bianca/IMG-20220627-WA0006.jpg);
    /* background-position-y: 5%; */
}
#top6Card4{
    background-image: url(../assets/img/Bianca/Screenshot_20220525-213100_Gallery.jpg);
    /* background-position-y: 5%; */
}
#top6Card5{
    background-image: url(../assets/img/Bianca/WhatsApp-Image-2022-07-04-at-07.09.23.jpeg);
    /* background-position-y: 5%; */
}
#top6Card6{
    background-image: url(../assets/img/Bianca/WhatsApp-Image2022-07-02-at-08.46.06.jpeg);
    /* background-position-y: 5%; */
}
#top6Card7{
    background-image: url(../assets/img/Bianca/IMG-20220604-WA0007.jpg);
    /* background-position-y: 5%; */
}
#top6Card8{
    background-image: url(../assets/img/Bianca/IMG-20220808-WA0003.jpg);
    /* background-position-y: 5%; */
}
#top6Card9{
    background-image: url(../assets/img/Bianca/IMG-20220822-WA0002.jpg);
    /* background-position-y: 5%; */
}
#top6Card{
    background-image: url(../assets/img/Bianca/);
    /* background-position-y: 5%; */
}
/* -------------------------------------------------
           RODAPÉ
------------------------------------------------- */
.turnAbove{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: lightcoral;
    position: fixed;
    right: 1.6rem;
    bottom: 1.6rem;
    /* z-index: -1; */
}
.turnAbove img{
    width: 45px;
    margin: 5.5px;
    transform: rotate(0.5turn);
}
footer{
    background-color: #ddddddc4;
    color: black;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    font-size: 60px;
}
@media screen and (max-width:660px) {
    footer{
        font-size: 24px;
        text-align: left;
        padding: 10px;
    }
    
}